################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarRental/CarRental.Business.Entieties/bin/Debug
/CarRental/CarRental.Business.Entieties/obj/Debug
