################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarRental/CarRental.Business.Entieties/bin/Debug
/CarRental/CarRental.Business.Entieties/obj/Debug
/CarRental/.vs/CarRental/v15
/CarRental/Core.Common.Tests/obj/Debug
/CarRental/Core.Common.Tests/bin/Debug
/CarRental/Core.Common.Contracts/obj/Debug
/CarRental/Core.Common.Contracts/bin/Debug
/CarRental/Core.Common/obj/Debug
/CarRental/Core.Common/bin/Debug
/CarRental/CarRental.Client.Entieties/obj/Debug
/CarRental/CarRental.Client.Entieties/bin/Debug
/CarRental/packages/EntityFramework.6.2.0
/CarRental/CarRental.Data.Contracts/bin/Debug
/CarRental/CarRental.Data.Contracts/obj/Debug
/CarRental/CarRental.Data/obj/Debug
/CarRental/CarRental.Data/bin/Debug
/CarRental/.vs/CarRental/DesignTimeBuild
/CarRental/CarRental.Data.Tests/bin/Debug
/CarRental/CarRental.Data.Tests/obj/Debug
